<!-- Register Section Begin -->
<section class="contact spad" style="background-image: url(&quot;assets/img/backgrounds/admin-bg.jpg&quot;);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form [formGroup]="userForm" method="post" action="#">
              <div class="row">
                  <div class="col-lg-6">
                    <label for="nombres">Nombres: </label>
                    <input type="text" id="nombres" formControlName="nombres" placeholder="Nombres" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="apellidos">Apellidos: </label>
                    <input type="text" id="apellidos" formControlName="apellidos" placeholder="Apellidos" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="documentoidentidad">DNI: </label>
                    <input type="text" id="documentoidentidad" formControlName="documentoidentidad" placeholder="Numero de Documento" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="direccion">Dirección: </label>
                    <input type="text" id="direccion" formControlName="direccion" placeholder="Dirección" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="celular">Celular: </label>
                    <input type="text" id="celular" formControlName="celular" placeholder="Celular" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="email">Email: </label>
                    <input type="email" id="email" formControlName="email" placeholder="Email" readonly>
                  </div>
              </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Register Section End -->
