<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Carrito</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Carrito</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table id="tblCarrito">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of jsonCarrito; let i = index" [attr.data-index]="i">
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="{{item.img}}" width="120" height="120" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{item.nombre}}</h6>
                                        <h5>{{item.precio}} {{item.moneda}}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <span class="fa fa-angle-left dec qtybtn" (click)="CambiarCantidad(i, item.idproducto, '-')"></span>
                                                <input type="text" value="{{item.cantidad}}" id="qty{{i}}" disabled />
                                            <span class="fa fa-angle-right inc qtybtn" (click)="CambiarCantidad(i, item.idproducto, '+')"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">{{item.precio * item.cantidad}} {{item.moneda}}</td>
                                <td class="cart__close"><i style="cursor:pointer" class="fa fa-close" (click)="EliminarFila(item.idproducto)"></i></td>
                            </tr>
                            <!-- <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="assets/img/shopping-cart/cart-2.jpg" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>Diagonal Textured Cap</h6>
                                        <h5>$98.49</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 32.50</td>
                                <td class="cart__close"><i class="fa fa-close"></i></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continua comprando</a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4">
                <!-- <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div> -->
                <div class="cart__total">
                    <h6>TOTAL CARRITO</h6>
                    <ul>
                        <li>Subtotal <span>{{subtotal}} {{moneda}}</span></li>
                        <li>IGV <span>{{tax}} {{moneda}}</span></li>
                        <li>Total <span>{{total}} {{moneda}}</span></li>
                    </ul>
                    <div *ngIf="jsonCarrito.length > 0">
                        <a style="cursor: pointer; color: white;" href="/pago" class="primary-btn">Proceder a checkout</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->