
<!-- Complaints Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Reclamos</span>
                        <h2>Libro de reclamaciones</h2>
                        <p>Déjanos tu reclamo y nos pondremos en contacto para ayudarte.</p>
                    </div>
                </div>
                <div>
                    <img src="assets/img/libro_reclamaciones.png" alt="" >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Nombre completo" class="form-control" >
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Correo electrónico" class="form-control" >
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Reclamo" ></textarea>
                                <button  class="site-btn">Enviar reclamo</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Complaints Section End -->