<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__option">
      <div class="offcanvas__top__hover">
        <span>Accesos <i class="arrow_carrot-down"></i></span>
        <ul>
            <li><a routerLink="login" style="color: #000;">Iniciar Sesión</a></li>
            <li><a routerLink="register" style="color: #000;">Registrarse</a></li>
            <li><a routerLink="changepassword"  style="color: #000;">Cambiar Contraseña</a></li>
        </ul>
      </div>
  </div>
  <div class="offcanvas__nav__option">
      <a href="#" class="search-switch"><img src="assets/img/icon/search.png" alt=""></a>
      <a href="#"><img src="assets/img/icon/heart.png" alt=""></a>
      <a href="#"><img src="assets/img/icon/cart.png" alt=""> <span>0</span></a>
      <div class="price">$0.00</div>
  </div>
  <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-7">
              </div>
              <div class="col-lg-6 col-md-5">
                  <div class="header__top__right">
                      <div class="header__top__hover">
                        <span>Accesos <i class="arrow_carrot-down"></i></span>
                        <ul>
                            <li><a routerLink="login" style="color: #000;">Iniciar Sesión</a></li>
                            <li><a routerLink="register" style="color: #000;">Registrarse</a></li>
                            <li><a routerLink="changepassword" style="color: #000;">Cambiar Contraseña</a></li>
                        </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3">
              <div class="header__logo">
                  <a href="./index.html"><img src="assets/img/logo-fashion.png" alt="" style="max-width: 200px;"></a>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <nav class="header__menu mobile-menu">
                  <ul>
                      <li class="active"><a href="./index.html">Home</a></li>
                      <li><a href="./shop.html">Shop</a></li>
                      <li><a href="#">Pages</a>
                          <ul class="dropdown">
                              <li><a href="./about.html">About Us</a></li>
                              <li><a href="./shop-details.html">Shop Details</a></li>
                              <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                              <li><a href="./checkout.html">Check Out</a></li>
                              <li><a href="./blog-details.html">Blog Details</a></li>
                          </ul>
                      </li>
                      <li><a href="./blog.html">Blog</a></li>
                      <li><a href="./contact.html">Contacts</a></li>
                      <li><a href="#">Admin</a>
                        <ul class="dropdown">
                            <li><a routerLink="product">Producto</a></li>
                        </ul>
                    </li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3 col-md-3">
              <div class="header__nav__option">
                  <a href="#" class="search-switch"><img src="assets/img/icon/search.png" alt=""></a>
                  <a href="#"><img src="assets/img/icon/heart.png" alt=""></a>
                  <a href="#"><img src="assets/img/icon/cart.png" alt=""> <span>0</span></a>
                  <div class="price">$0.00</div>
              </div>
          </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->

<section style="min-height: 600px; padding-top: 0px; padding-bottom: 0px">
  <router-outlet></router-outlet>
</section>
